body {
	background: #90c07e;
	color: #4c6a41;
	font-family: "jubilat", "Times";
}
.container {
	width: 800px;
	height: 640px;
	margin: 0 auto;
	-webkit-perspective: 1000;
	perspective: 1000;
}

/*
Text
*/

.slides section h1 {
	text-align: center;
	font-size: 72px;
	margin-bottom: 36px;
}
.slides .everyone img{
	display: inline-block;
	max-width: 15%;
	max-height: 200px;
}
.shei {
	margin-left: 80%;
}

.slides .dragon-fightin img {
	display: inline-block;
	max-width: 10%;
	max-height: 200px;
}
.slides .last img {
	display: inline-block;
	max-width: 10%;
	max-height: 200px;
	-webkit-transform: translate3d(0, 400%, 0);
	-webkit-transform-origin: center 98%;
	-webkit-animation-name: popin;
	-webkit-animation-duration: 3600ms;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
	transform: translate3d(0, 400%, 0);
	transform-origin: center 98%;
	animation-name: popin;
	animation-duration: 3600ms;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}
.slides .last img:nth-of-type(1) {
	-webkit-animation-delay: 0;
	animation-delay: 0;
}
.slides .last img:nth-of-type(2) {
	-webkit-animation-delay: 600ms;
	animation-delay: 600ms;
}
.slides .last img:nth-of-type(3) {
	-webkit-animation-delay: 1200ms;
	animation-delay: 1200ms;
}
.slides .last img:nth-of-type(4) {
	-webkit-animation-delay: 1800ms;
	animation-delay: 1800ms;
}
.slides .last img:nth-of-type(5) {
	-webkit-animation-delay: 2400ms;
	animation-delay: 2400ms;
}
.slides .last img:nth-of-type(6) {
	-webkit-animation-delay: 3000ms;
	animation-delay: 3000ms;
}

.slides .dragon-fightin img.dragon {
	display: inline-block;
	max-width: 60%;
	max-height: 1200px;
}

.slides .dragon-fightin.final img.dragon {
	display: block;
	-webkit-transform-origin: center 98%;
	-webkit-animation-name: flyin;
	-webkit-animation-duration: 1600ms;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
	transform-origin: center 98%;
	animation-name: flyin;
	animation-duration: 1600ms;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;

}


@-webkit-keyframes flyin {
	0% { -webkit-transform: translate3d(-20%,0,0); }
	50% { -webkit-transform: translate3d(100%,0,0); }
	100% { -webkit-transform: translate3d(-20%,0,0); }
}

@-webkit-keyframes popin {
	0% { -webkit-transform: translate3d(0,400%,0); }
	50% { -webkit-transform: translate3d(0,120%,0); }
	100% { -webkit-transform: translate3d(0,400%,0); }
}

@-webkit-keyframes jigglin {
	0% { -webkit-transform: rotate(-4deg); }
	50% { -webkit-transform: rotate(34deg); }
	100% { -webkit-transform: rotate(-4deg); }
}

@keyframes flyin {
	0% { transform: translate3d(-20%,0,0); }
	50% { transform: translate3d(100%,0,0); }
	100% { transform: translate3d(-20%,0,0); }
}

@keyframes popin {
	0% { transform: translate3d(0,400%,0); }
	50% { transform: translate3d(0,120%,0); }
	100% { transform: translate3d(0,400%,0); }
}

@keyframes jigglin {
	0% { transform: rotate(-4deg); }
	50% { transform: rotate(34deg); }
	100% { transform: rotate(-4deg); }
}

.sword {
	-webkit-transform-origin: center 98%;
	-webkit-animation-name: jigglin;
	-webkit-animation-duration: 400ms;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
	transform-origin: center 98%;
	animation-name: jigglin;
	animation-duration: 400ms;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	height: 120px;
	position: absolute;
	left: 213px;
	bottom: 60px;
}

.sword-lulu {
	left: 252px;
	bottom: 60px;
}
.sword-giles {
	left: 352px;
	bottom: 140px;
}
.sword-ryan {
	left: 442px;
	bottom: 160px;
}
.sword-matt {
	left: 472px;
	bottom: 90px;
}
.sword-mike {
	left: 582px;
	bottom: 90px;
}
.sword-schiff {
	left: 662px;
	bottom: 130px;
}
.sword-horak {
	left: 762px;
	bottom: 120px;
}
@-webkit-keyframes firing {
	0% {-webkit-transform: translate3d(0,0,0);}
	100% {-webkit-transform: translate3d(-610px,600px,0);}
}

@keyframes firing {
	0% {transform: translate3d(0,0,0);}
	100% {transform: translate3d(-610px,600px,0);}
}

.aro .img{
	height: 10%;
}

.fire {
	-webkit-animation-name: firing;
	-webkit-animation-duration: 400ms;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
	animation-name: firing;
	animation-duration: 400ms;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	position: absolute;
	left: 410px;
	top: 160px;
}

.progress span {
	background-color: #FF5E99;
}

.slides .fortunate {
	position: absolute;
	width: 200px;
	left: 50%;
	margin-left: -100px;
}

